
.box_01 {
	width:39px;
	left:20px;
}

.box_02 {
	width:113px;
	left:66px;
}

.box_03 {
	width:135px;
	left:186px;
}

.box_04 {
	width:127px;
	left:328px;
}

.box_05 {
	width:137px;
	left:462px;
}

.box_06 {
	width:146px;
	left:606px;
}

.box_07 {
	width:127px;
	left:759px;
}

.box_08 {
	width:125px;
	left:893px;
}

.box_09 {
	width:275px;
	left:893px;
}