
select.box2_01 {
	width:39px;
}


.fltBox1 {
	width: 125px;
}

.box2_01{
	width:39px;
}

.box2_02 {
	width: 83px;
}

.box2_03 {
	width: 85px;
}

.box2_04 {
	width: 135px;
}

.box2_05 {
	width: 135px;
}

.box2_06 {
	width: 146px;
}

.box2_07 {
	width: 146px;
}

.box2_08 {
	width: 75px;
}

.box2_09 {
	width: 105px;
}

.box2_10 {
	width: 275px;
}


