.tb_search_lmargin {
	margin-left : 165px;
}
.fltBox1 {
	width: 85px;
}

.box2_01 {
	width:39px;
}

.box2_02 {
	width:113px;
}

.box2_03 {
	width:135px;
}

.box2_04 {
	width:75px;
}

.box2_05 {
	width:75px;
}

.box2_06 {
	width:95px;
}

.box2_07 {
	width:95px;
}

.box2_08 {
	width:75px;
}

.box2_09 {
	width:135px;
}
.box2_10 {
	width:115px;
}
.box2_11 {
	width:105px;
}
.box2_12 {
	width:135px;
}
.box2_13 {
	width:135px;
}
.box2_14 {
	width:275px;
}